<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password - DeskTrack</title>
    <link rel="stylesheet" th:href="@{/css/forgot.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="logo">
    <img th:src="@{/img/logo.png}" alt="Logo">
</div>
<div class="container">
    <div class="login-card">
        <h2>New Password</h2>
        <form class="login-form" th:action="@{/reset-password}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="input-group">
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
            </div>
            <button type="submit" class="sign-in-button">Submit</button>
        </form>
        <p id="message" style="color: rgb(0, 0, 0); text-align: center; margin-top: 10px; display: none;"></p>
        <div class="links">
            <a th:href="@{/login}" class="resetPassword">Back to Login</a>
        </div>
    </div>
</div>
</body>
</html>
