body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #dce6f9, #e4e6e9, #4e71db);
    overflow: hidden;
}

.logo {
    margin-top: -600px;
    margin-bottom: -850px;
    text-align: center;
}

.logo img {
    max-width: 1600px;
    height: auto;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.login-card {
    width: 60%;
    max-width: 500px;
    padding: 1px 50px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    box-sizing: border-box;
}


h2 {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 15px 10px;
    border: none;
    border-radius: 110px;
    background-color: transparent;  
    color: #333;
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15), 0 0 8px rgba(255, 255, 255, 0.1);
    text-align: center;
}


.input-group input::placeholder {
    color: #848484;
}

.input-group input:focus {
    background-color: transparent;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25), 0 0 0 3px rgba(168, 192, 255, 0.5);
}

.sign-in-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 110px;
    background: #5c6ee3;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.sign-in-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.links {
    margin-top: 30px;
    font-size: 0.9em;
    color: #555;
}

.links a {
    color: #4d5066; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.links a:hover {
    text-decoration: underline;
}

.links span {
    color: #999;
}


